#body {
  background-color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 7em;
  margin-bottom: 4em;
  max-width: 10em;*/
}

img#gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  max-width: 70vw;
}

#image2 {
  margin-top: 20px;
  position: relative;
  left: calc(-1vw);
  top: calc(80%);
  max-width: 160px;
}

#image3 {
  margin-left: 1em;
  margin-bottom: 5em;
}

#image4 {
  margin-top: 7em;
  max-width: 130px;
  position: relative;
  right: calc(20vw);
}

#image5 {
  max-width: 130px;
  position: relative;
  top: calc(20vh + 55%);
  right: calc(-10vw);
}

#image6 {
  max-width: 130px;
  position: relative;
  top: calc(40vh);
  right: calc(-10vw);
}

#image7 {
  max-width: 130px;
  position: relative;
  left: calc(50%);
  top: calc(40vh + 50%);
}

#image8 {
  max-width: 130px;
  position: relative;
}

#gif {
  position: relative;
}

#audio {
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: contrast(100%) invert(100%);
  width: 30em;
  height: 4em;
}

.ui.fullscreen.modal {
  width: 100%!important;
}
