#body {
  background-color: black;
}

.gifImage {
    display: block;
    margin: auto 0;
  }

img#gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  max-width: 90%;
}



#gif {
  position: relative;
}

#audio {
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: invert(100%)!important;
  background-color: rgba(26, 26, 26, 0);
  color: #060000;
  width: 90%;
}

.ui.fullscreen.modal {
  width: 100%!important;
}
/*
.controlBar {
  background-color: rgba(26, 26, 26, 0);
  color: #060000;
}*/
