#content {
  background: black;
}

#actions {
  background: black;
}

@font-face {
  font-family: Shree;
  font-style: italic;
  font-weight: 300;
  src: local("ShreeDev0714-Italic"),
       local("Shree Devanagari 714 Italic"),
       local("HelveticaNeue-LightItalic"),
       local("Helvetica Neue Light Italic"),
       local(".LucidaGrandeUI"),
       local("Ubuntu Light"),
       local("Segoe UI Light")
}

#close-modal {
  font-family: Shree;
  position: absolute;
  left: calc(90vw);
  top: calc(10%);
  background-color: black;
}
