.navbar {
  color: white;
}

#description {
  float: left;
  max-width: 60vw;
  height: auto;
}

#title {
  max-width: 100vw;
  height: auto;
  width: auto\9;
}

.ui.grid>.column:not(.row) {
  padding-bottom: 0;
  padding-top: 0;
}

#top {
  margin: 1em;
  padding-bottom: 2em;
}
