.navbar {
  color: white;
}

#description {
  max-width: 25em;
  float: left;
}

#title {
  max-width: 38em;
}

.ui.grid>.column:not(.row) {
  padding-bottom: 0;
  padding-top: 0;
}

#top {
  margin: 1em;
  padding-bottom: 2em;
}


