@media only screen and (min-width: 769px) {
    /* styles for browsers larger than 769px; */
  #title {
      max-width: 50vw;
    }

  #description {
    max-width: 25vw;
  }

  #contact {
    right: 3%;
    max-width: 7vw;
  }

  #about {
    max-width: 15vw;
    height: auto;
    right: 6vw;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  /*images*/

  #image1 {
    max-width: 30%;
    right: 20%;
    position: absolute;
  }

  #image2 {
    position: absolute;
    left: 83%;
    top: 50%;
    max-width: 10%;
  }

  #image3 {
    max-width: 20%;
    position: absolute;
    top: 56%;
    left: 2%;
  }

  .gifImage {
    position: absolute;
    top: 86%;
    max-width: 60%;
    left: 29%;
  }

  #image4 {
    max-width: 20%;
    position: absolute;
    right: 4%;
    top: 185%;
  }

  #image5 {
    max-width: 20%;
    position: absolute;
    left: 4%;
    top: 209%;
  }

  #image6 {
    max-width: 10%;
    position: absolute;
    left: 29%;
    top: 191%;
  }

  #image7 {
    top: 240%;
    max-width: 27%;
    position: absolute;
    left: 38%;
    padding-bottom: 10%;
  }

  #image8 {
    max-width: 10%;
    position: absolute;
    top: 250%;
    right: 6%;
  }

}







@media only screen and (max-width: 768px) {
    /* styles for tablets - default ipad screen */
  #title {
      max-width: 60vw;
    }

  #description {
    max-width: 40vw;
  }

  #contact {
    right: 2%;
    top: 15%;
  }

  #audio {
    margin-left: auto;
    filter: invert(100%)!important;
    max-width: 90%;
    left: 5%;
    position: absolute;
  }

/*images*/

  #image1 {
    max-width: 40%;
    right: 20%;
    position: absolute;
  }

  #image2 {
    position: absolute;
    left: 83%;
    top: 32%;
    max-width: 15%;
  }

  #image3 {
    max-width: 30%;
    position: absolute;
    top: 42%;
    left: 4%;
  }

  .gifImage {
    position: absolute;
    top: 78%;
  }

  #image4 {
    max-width: 30%;
    position: absolute;
    right: 4%;
    top: 140%;
  }

  #image5 {
    max-width: 30%;
    position: absolute;
    left: 7%;
    top: 169%;
  }

  #image6 {
    max-width: 15%;
    position: absolute;
    left: 29%;
    top: 151%;
  }

  #image7 {
    top: 198%;
    max-width: 40%;
    position: absolute;
    left: 35%;
    padding-bottom: 20%;
  }

  #image8 {
    max-width: 15%;
    position: absolute;
    top: 203%;
    right: 3%;
  }


}









@media only screen and (max-device-width: 576px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
  #title {
      max-width: 80%;
      position: relative;
      padding-bottom: 5%;
    }

  #description {
    max-width: 50vw;
    position: absolute;
    top: -8vh;
  }

  #about {
    max-width: 30vw;
    position: absolute;
    height: auto;
    left: 6vw;
    padding-bottom: 5%;
  }

  #contact {
    max-width: 12vw;
    position: absolute;
    height: auto;
    left: 2vw;
    top: 22%;
  }

  .container {
    margin-bottom: 10%!important;
  }

  #audio {
  margin-left: auto;
  filter: invert(100%)!important;
  position: absolute;
  }

  /*images*/

  #image1 {
    max-width: 43%;
    left: 4%;
    position: absolute;
  }

  #image2 {
    position: absolute;
    left: 50%;
    top: 43%;
    max-width: 35%;
  }

  #image3 {
    max-width: 46%;
    position: absolute;
    top: 79%;
    left: 2%;
  }

  .gifImage {
    position: absolute;
    top: 114%;
  }

  #image4 {
    max-width: 43%;
    position: absolute;
    right: 1%;
    top: 175%;
  }

  #image5 {
    max-width: 46%;
    position: absolute;
    left: 13%;
    top: 210%;
  }

  #image6 {
    max-width: 27%;
    position: absolute;
    left: 24%;
    top: 185%;

  }

  #image7 {
    top: 243%;
    max-width: 190px;
    position: absolute;
    left: 35%;
  }

  #image8 {
    max-width: 100px;
    position: absolute;
    top: 270%;
    right: 3%;
    padding-bottom: 10%
  }



}

/*LANDSCAPE AND PORTRAIT ORIENTATIONS
different techniques for iPad screening
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {}

*/

